
<div class = "card">
    <div>
        <h2>{{blogs.title}}</h2>
        <h3>By {{blogs.user.username}} on {{blogs.date}}</h3>
    </div>
    <div>
        <p>{{blogs.content}}</p>
    </div>
</div>


<div class = "card">
    <div>
        
        {{!-- {{#each comments}} --}}
        <div>{{comment.content}}</div>
        <div>-{{comment.user.username}}</div>
        {{!-- {{/each}} --}}
    </div>
</div>

{{!-- {{#if logged_in}} --}}
<div class = "card">
    <div>
        <div class="new-post-card">
        <h4 class="page-title">New Comment</h4>
        <form class="form new-post-form" id = "new-comment-form">
        {{!-- <div class="form-group">
            <label for="post-id">Comment Title:</label>
            <input class="form-input" type="text" id="post-id" name = "post-id" />
        </div> --}}
        <div class="form-group">
            <label for="comment-body">Enter Comment Here:</label>
            <input class="form-input" type="textarea" id="comment-body" name="comment-body" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Post Comment</button>
        </div>
        </form>
  </div>
    </div>
</div>
{{!-- {{/if}} --}}
<script src="/js/comment.js"></script>